<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p> 

<!-- actually displaying the image on the page, if it's there --> 
<% if @recipe.image? %>
  <%= image_tag @recipe.image.url, class: "recipe-show recipe-container"%>
<%end%>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @recipe.mealType %>
</p>

<p>
  <strong>Meal Time:</strong>
  <%= @recipe.mealTime%>
</p>

<h3>Ingredients</h3>
  <ul>
    <% for @ingredient in @recipe.ingredients %>
      <li> 
        <%= @ingredient.content %>
      </li>
    <% end %>
  </ul>

<h3>Steps</h3>
  <ol>
    <% for @step in @recipe.steps %>
      <li><%= @step.direction %></li>
    <% end %>
  </ol>
<div class="row justify-content-center">
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn btn-light btn-lg"   %>
  <a href="/recipes" class="btn btn-light btn-lg" role="button" aria-disabled="true">Back</a>
</div>


